---
layout: 'layouts/base.njk'
title: Justin's 11ty Site
---
<div class="welcome">
<h2>About Me</h2>
<div class="main-text">
<img src="/IMG_6455.jpeg" alt="Bike" height="500">
<p>Hello!</p>
<p>My name is Justin and this is my first 11ty site.<p>
<p>I enjoying biking when the weatehr is nice outside.<p>
</div>
</div>
